{% extends 'products/base.html' %}
{% load static %} 
{%block css%}

<link rel="stylesheet" href="{%static 'products/css/item.css'%}">
 
{%endblock%}

{% block content%}
	 
    <section class="item_container item_section ">
        <div class="container_position">
            <div class="wall_item "> 
                <div class="mob_vers title_item"> 
                    <h1>{{products.name}}</h1>
                    <h2>{{products.gender}}</h2>
                </div>
                <div class="mob_vers price_item">
                    <p>{{products.price}}zl. </p>
                </div>
                    
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                    {% for image in products.images.all %}
                        <div class="swiper-slide"><img src="{{ image.image.url }}" alt="{{ products.name }}"></div>
                    {%endfor%}    
                    
                     
                        
                    </div>
                    <div class="swiper-button-next"><img src="{%static 'products/img/next.png'%}" alt=""></div>
                    <div class="swiper-button-prev"><img src="{%static 'products/img/back.png'%}" alt="" fetchpriority="high"></div>
                    <div class="swiper-pagination"></div>
                </div>
                
                <div class="sidebar_item">
                    <div class="laptop_vers title_item ">
                        <h1>{{products.name}}</h1>
                        <h2>{{products.gender}}</h2>
                    </div>
                    <div class="laptop_vers price_item">
                        <p>{{products.price}} zl.</p>
                    </div>
                    
                        <div class="wall_buttons_size">
                                <p class="font-family">Size:</p>
                            <br>
                            {% csrf_token %}
                                <div class="size-wall">

                                    {% for product_size in products.product_in_productsize.all %}
                                        {% if product_size.quantity > 1%}
                                            <button type="button" class="button-size font-family" data-size="{{ product_size.size.size }}" onclick="selectSize(this)">{{ product_size.size.size }}</button> 
                                        {% else %}
                                            <button type="button" class="button-size-nontarget font-family" >{{ product_size.size.size }}</button>
                                        {% endif %}
                                    {% endfor %}
                                    
                                </div>
                        </div>
                        <div class="add_to_bag">
                            <button type="button" class="button_add_to_bag font-family" onclick="addToCartWithSize('{{ products.id }}', this)">Add to bag</button>
                            <form method="POST">
                                {% csrf_token %}
                                {%if products in user.ulubione.all %}
                                    <button type="submit" value="unfollow" class="btn_follow button_add_to_follow" name="follow"  ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z"/></svg> </button>
                                {%else%} 
                                    <button type="submit" value="follow" class="btn_follow button_add_to_follow" name="follow"  ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19.5 10c-2.483 0-4.5 2.015-4.5 4.5s2.017 4.5 4.5 4.5 4.5-2.015 4.5-4.5-2.017-4.5-4.5-4.5zm2.5 5h-2v2h-1v-2h-2v-1h2v-2h1v2h2v1zm-6.527 4.593c-1.108 1.086-2.275 2.219-3.473 3.407-6.43-6.381-12-11.147-12-15.808 0-4.005 3.098-6.192 6.281-6.192 2.197 0 4.434 1.042 5.719 3.248 1.279-2.195 3.521-3.238 5.726-3.238 3.177 0 6.274 2.171 6.274 6.182 0 .746-.156 1.496-.423 2.253-.527-.427-1.124-.768-1.769-1.014.122-.425.192-.839.192-1.239 0-2.873-2.216-4.182-4.274-4.182-3.257 0-4.976 3.475-5.726 5.021-.747-1.54-2.484-5.03-5.72-5.031-2.315-.001-4.28 1.516-4.28 4.192 0 3.442 4.742 7.85 10 13l2.109-2.064c.376.557.839 1.048 1.364 1.465z"/></svg>  </button>
                                {% endif %}
                            </form>
                            
                        </div>
                    
                </div>
            </div>
            
        </div>
    </section>
{% endblock %}
   
{% block scripts %}  
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
      }
  }
  return cookieValue;
}


let selectedSize = null; // Глобальная переменная для хранения выбранного размера

function selectSize(element) {
    selectedSize = element.getAttribute('data-size'); // Установка выбранного размера
    // Можно добавить визуальное обозначение выбранного размера, например, изменить цвет кнопки
}

function addToCartWithSize(product_id, button) {
    if (!selectedSize) {
        Swal.fire({
            position: 'top',
            icon: 'error',
            title: 'Please select a size before adding to bag.',
            showConfirmButton: false,
            timer: 2000,
            background: '#660000',
            color: '#ffffff',
            customClass: {
                popup: 'custom-popup-class',
                title: 'custom-title-class',
                timerBar: 'custom-timer-bar'  // Новый класс для стилизации таймера
            },
            didOpen: toast => {
                const timerBar = document.createElement('div');
                timerBar.className = 'custom-timer-bar';
                toast.appendChild(timerBar);  // Добавляем линию таймера к элементу уведомления
            }
        });
        return;
    }
    
    
    
    fetch(`/basket/add/${product_id}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken'),
        },
        body: JSON.stringify({ product_id: product_id, size: selectedSize }),
        redirect: 'manual'  // Не следовать за редиректами автоматически
    })
    .then(response => {
        if (response.type === 'opaqueredirect') {
            // Обнаружен редирект, направляем пользователя на страницу логина
            window.location.href = '/users/login/';
        } else if (!response.ok) {
            throw new Error('Something went wrong');
        }
        return response.json();
    })
    .then(data => {
        console.log('Item added to cart:', data);
        button.innerHTML = '&#10004;'; // Обновление текста кнопки
        setTimeout(() => {
            button.textContent = 'Add to bag'; // Возврат к исходному тексту через некоторое время
        }, 2000);
    })
    .catch(error => {
        console.error('Error:', error);
    });
}



{% comment %} document.querySelector('.button_add_to_bag').addEventListener('click', function() {
    const button = this;
    // Сохраняем исходный текст кнопки
    const originalText = button.textContent;
    // Меняем текст на галочку (или можете использовать иконку)
    button.innerHTML = '&#10004;'; // HTML код галочки

    // Возвращаем исходный текст через 5 секунд
    setTimeout(function() {
        button.innerHTML = originalText;
    }, 2000);
}); {% endcomment %}

</script>
    <script src="{%static 'products/js/swiper_item.js'%}"></script>
 
{% endblock %}   
